{% extends "template.html" %}

{% block head %}
<style>
  form
  {
    display: inline-block;
  }
  fieldset{
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}

<div class="login" >
  <img src="/static/logo.png">

  <h2 class="title">Login</h2>

  <div class="form">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" class="form">
      <fieldset>
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ form.submit }}
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}