body {
    background-color: #111111;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;;
}

a {
    color: #ffffff; /* White text color for links */
    text-decoration: none; /* Remove default underline */
}
  
a:hover {
    color: #a0a0a0; /* Lighter color on hover */
}
  
a:visited {
    color: #cccccc; /* Lighter color for visited links */
}

.menu {
    text-align: right;
}

.content {
    text-align: center;
}

.centerTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}