{% extends "template.html" %}
{% block head %}
<link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
<script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding: 10px;
        margin: auto;
        width: fit-content;
    }
    .button {
        background-color: rgb(55, 55, 55);
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
    }
</style>

{% endblock %}

{% block content %}

<div class="grid-container">
    {% for video in data %}
    <div class="grid-item">
        {% if video.isactive == 0 %}
            <img src="{{url_for('static', filename='empty.png')}}" />
        {% elif video.isactive == 1 %}
            <video-js id="{{video.stream}}" class="vjs-default-skin" controls autoplay muted preload width="640"
                height="360">
                <source src="{{video.source}}" type="application/x-mpegURL">
            </video-js>
            <script>
                var player = videojs('{{video.stream}}');
            </script>
        {% endif %}

        <table>
            <tr>
                {% if video.isactive == 0 %}
                <td>
                    <form action="{{ url_for('play') }}" id="play" method="POST">
                        <input type="hidden" name="video" value="{{video.stream}}">
                        <input type="submit" class="button" value="Play">
                    </form>
                </td>
                {% elif video.isactive == 1 %}
                <td>
                    <form action="{{ url_for('stop') }}" id="stop" method="POST">
                        <input type="hidden" name="video" value="{{video.stream}}">
                        <input type="submit" class="button" value="Stop">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('restart') }}" id="restart" method="POST">
                        <input type="hidden" name="video" value="{{video.stream}}">
                        <input type="submit" class="button" value="Restart">
                    </form>
                </td>
                {% endif %}
                <td>
                    <form action="{{ url_for('estatisticas') }}" id="estatisticas" method="POST">
                        <input type="hidden" name="video" value="{{video.stream}}">
                        <input type="submit" class="button" value="Estatísticas">
                    </form>
                </td>
                <td>
                    <h4 align="center">{{video.name}}</h4>
                </td>
            </tr>
        </table>

    </div>
    {% endfor %}
</div>

{% endblock %}